.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

#certificates {
    background-color: #ffff;
}

#contact {
    background-color: #e2edff;
}

section {
    padding-top: 8rem;
}

.card {
    min-height: 380px;
    justify-content: center;
}

.btn {
    margin-bottom: 2rem;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}
